<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body>

<table align="center" style="padding: 10px">
    <tr>
        <td>
            <form align="right" method="post" action="filterSearchGroups?groupsP=groups">
                <input class="simpleform" type="groupsP" name="groups" placeholder="Поиск по группе">
        <td><input class="icon_search" type="submit" value=""></td>
        </form>
        </td>
        <td>
            <form align="right" method="post" action="filterSearchDate?dateP=date">
                <input class="simpleform" type="dateP" name="date" id="datepicker1" autocomplete="off" placeholder="Поиск по дате">
        <td><input class="icon_search" type="submit" value=""></td>
        </form>
        </td>
    </tr>
</table>




<form method="post" action="addClasses?date1=date&group1=groups">
    <table class="demotable" align="center">
        <thead>
        <tr class="bCTable_Header tDevice_Propertyes_tr1">
            <th style="width: 35px">#</th>
            <th style="width: 80px">Дата</th>
            <th style="width: 80px">Группа</th>
            <th style="width: 35px">Edit</th>
        </tr>
        </thead>
        <tr>
<!--            <td></td>-->
            <td><input class="tableform" type="date1" name="date" id="datepicker" autocomplete="off" placeholder="Введите дату занятия"></td>
            <td><input class="tableform" type="group1" name = "groups" placeholder="Введите группу"></td>
            <td align="center"><button type="submit" class="tablebut">Добавить</button></td>
        </tr>

        <tr class="tDevice_Propertyes_tr1" th:each="person : ${classes}">
<!--            <td style="text-align: center" th:utext="${person.id}"></td>-->
            <td th:utext="${person.date}"></td>
            <td th:utext="${person.groups}"></td>
            <td style="text-align: center"><a th:href="@{'/deleteC/{id}'(id=${person.id})}"><i class="icon_delete"></i></a></td>
        </tr>

    </table>
</form>





<footer th:replace="footer :: footer"></footer>

</body>
</html>