<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track Progress</title>
    <style th:replace="style :: style"></style>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body th:replace="menu :: menu"></body>
<body>

<form method="post" action="addClasses?date1=date&group1=groups">
    <table align="center">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 20%">Date</th>
            <th style="width: 20%">Group</th>
            <th style="width: 15%">Edit</th>
            <th style="width: 15%">Delete</th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td><input type="date1" name="date" placeholder="Введите дату занятия"></td>
            <td><input type="group1" name = "groups" placeholder="Введите группу"></td>
            <td><input type="submit" value="Добавить"></td>
            <td></td>
        </tr>

        <tr th:each="person : ${classes}">
            <td th:utext="${person.id}"></td>
            <td th:utext="${person.date}"></td>
            <td th:utext="${person.groups}"></td>
            <td></td>
            <td style="text-align: center"><a th:href="@{'/deleteC/{id}'(id=${person.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>

    </table>
</form>


</body>
</html>