<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="push"></div>
    <div id="footer" style="padding-top: 5px; padding-bottom: 3px">

        <table>
            <tr>
                <td><a href="/help"><i title="Справка" class="icon_help"></i></a></td>
                <td><a href="https://github.com/VadimAnpilogov/TrackProgress" target="_blank"><i title="Страница проекта на GitHub" class="icon_github"></i></a></td>
                <td><a style="color: var(--color_light-text); padding-left: 50px; font-size: small" href="https://icons8.com" target="_blank">Icons by Icons8</a></td>
            </tr>
        </table>
    </div>
</footer>
</html>
