<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="push"></div>
    <div id="footer">

        <form action="home">
            <table>
                <tr>
                    <td class="footertable"><button type="submit" class="butt">Кнопка 1</button></td>
                    <td class="footertable"><button type="submit" class="butt">Кнопка 2</button></td>
                    <td class="footertable"><button type="submit" class="butt">Кнопка 3</button></td>
                    <td class="footertable"><button type="submit" class="butt">Кнопка 4</button></td>
                </tr>
            </table>
        </form>


    </div>

</footer>
</html>
