<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body>

<!--Содержимое-->
<form action="students">
    <button type="submit">Список всех студентов</button>
</form>
<!--<form action="finishedThemes">-->
<!--    <br>-->
<!--    <button type="submit">Список пройденных тем</button>-->
<!--</form>-->

<form method="post" action="addGroups?group1=groups">
<table align="center">
    <thead>
    <tr>
        <th style="width: 35px">#</th>
        <th style="width: 100px">Group</th>
        <th style="width: 70px">Delete</th>
        <th style="width: 70px">Темы</th>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td><input style="width: 100px" type="group1" name = "groups" placeholder="Введите группу"></td>
        <td><input type="submit" value="Добавить" style="width: 70px"></td>
        <td></td>
    </tr>
    <tr th:each="person : ${groupsL}">
        <td style="text-align: center" th:utext="${person.id}"></td>
        <td th:utext="${person.groups}"></td>
        <td style="text-align: center"><a th:href="@{'/deleteGL/{id}'(id=${person.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        <td style="text-align: center"><a th:href="@{'/addgroupFinished/{groups}'(groups=${person.groups})}">Темы</a></td>

    </tr>

</table>
</form>




<footer th:replace="footer :: footer"></footer>
</body>
</html>