<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body th:fragment="menu">

<h1 align="center" class="head20">Web-приложение "Track Progress"</h1>
<h4 align="right" class="head12">Данное приложение ведет учет занятий на курсах по Java</h4>
<!-- Меню -->
<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item"><a href="groups">Группы</a></li>
        <li class="left-item"><a href="classes">Занятия</a></li>
        <li class="navbar-logo"><a href="home">Home</a></li>
        <li class="right-item"><a href="theme">Темы</a></li>
        <li class="right-item"><a href="homework">Домашнее задание</a></li>
    </ul>
</nav>
<div style="height: 15px"></div>


</body>
</html>