<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body>

<!--Содержимое-->



<form method="post" action="addStudents?fio1=fio&group1=groups">
    <table align="center">
        <thead>
        <tr>
            <th style="width: 35px">#</th>
            <th style="width: 350px">FIO</th>
            <th style="width: 100px">Group</th>
            <th style="width: 70px">Delete</th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td><input style="width: 350px" type="fio1" name="fio" placeholder="Введите ФИО студента"></td>
            <td><input type="group1" name = "groups" placeholder="Введите группу"></td>
            <td><input type="submit" value="Добавить" style="width: 70px"></td>

        </tr>

        <tbody>
        <tr th:each="person : ${students}">
            <td style="text-align: center" th:utext="${person.id}"></td>
            <td th:utext="${person.fio}"></td>
            <td th:utext="${person.groups}"></td>
            <td style="text-align: center"><a th:href="@{'/deleteG/{id}'(id=${person.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</form>

<table align="center">

</table>

<footer th:replace="footer :: footer"></footer>
</body>
</html>