<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body th:replace="menu :: menu"></body>
<body>

<form class="decor" method="post" action="addTheme?descriptionTheme1=descriptionTheme">
    <table align="center">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 50%">Описание темы</th>
            <th style="width: 15%">Edit</th>
            <th style="width: 15%">Delete</th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td><input type="descriptionTheme1" name="descriptionTheme" placeholder="Введите название темы"></td>
            <td><input type="submit" value="Отправить"></td>
        </tr>
        <tr th:each="person : ${theme}">
            <td th:utext="${person.id}"></td>
            <td th:utext="${person.descriptionTheme}"></td>
            <td></td>
            <td style="text-align: center"><a th:href="@{'/deleteT/{id}'(id=${person.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
    </table>
</form>
<footer th:replace="footer :: footer"></footer>
</body>
</html>